@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body */

body {
    font-family: 'lato', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: black;
    }

/* header */

header {
    background-color: #219EBC;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    height: 75px;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1{
    font-family: 'Raleway' , sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    
}

#menu {
    list-style-type: none;
    font-size: 110%;
    font-family: 'Raleway' , sans-serif;
    
}

#logo{
    color: white;
    font-weight: 600;
    text-decoration: wavy;
}