@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body */

body {
    font-family: 'lato', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #cdb69e;
    color: black;
    min-height: 100vh;
    }

/* header */

header {
    background-color: #cdb69e;;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 1px 1px rgb(40, 51, 75);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 20px;
    
    
}

header a {
    text-decoration: none;
    color: inherit;
}

h1{
    font-family: 'Raleway' , sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    display: flex;
    padding-top: 20%;
    color:  rgb(40, 51, 75);
}

#menu {
    list-style-type: none;
    font-size: 110%;
    font-family: 'Raleway' , sans-serif;
    padding-bottom: 10px;
    }

    

ul li:hover {
   font-size: medium;
    
    
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #cdb69e;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
    box-shadow: 0 1px 1px rgb(40, 51, 75);

}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
    
  
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    padding-top: 2px;
    color: rgb(40, 51, 75);
}


/* Main */

main{
    margin-top: 100px;
    flex: 1 0 auto;

    
}
    


#hero {
    background: url(/assets/images/hero-min.jpg) no-repeat center center /cover;
    height: 800px;
    width:100%;
    position: relative;

}

#hero-text {
    padding-left: 10px;
    padding-top: 270px;
    color: rgb(164, 76, 3, .9);
}

h2 {
    font-weight: 300;
    font-size: 50px;

}

#yoga-poses{
    display: grid;
    place-items: center;  
    padding-top: 20px;
}
    
.poses{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    
}

#yoga-poses p {
    display: grid;
    place-items: center;  
    padding-top: 20px;
}


    
    
    /*Footer*/


footer {
   
    bottom: 0;
    width: 100%;
    background-color: #cdb69e;
    height: 10vh;
}

#socials {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    list-style-type: none;
   
}

#socials i {
    color: rgb(40, 51, 75);
    font-size: 120%;
}