@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body */

body {
    font-family: 'lato', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #cdb69e;
    color: black;
    min-height: 100vh;
   
    }

/* header */

header {
    background-color: #cdb69e;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 1px 1px rgb(40, 51, 75);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 40px;
    
    
}

header a {
    text-decoration: none;
    color: inherit;
}

h1{
    font-family: 'Raleway' , sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    display: flex;
    padding-top: 20%;
    color:  rgb(40, 51, 75);
    
}

#menu {
    list-style-type: none;
    font-size: 130%;
    font-family: 'Raleway' , sans-serif;
    padding-bottom: 10px;
    }

    

ul li:hover {
   opacity: 75%;
    
    
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #cdb69e;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
    box-shadow: 0 1px 1px rgb(40, 51, 75);

}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
    
  
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    padding-top: 2px;
    color: rgb(40, 51, 75);
}


/* Main */

main{
   
    background-color: #fff4e2;
    
    


    
}
    


#hero {
    background: url(../images/hero-min.jpg) no-repeat center center /cover;
    height: 800px;
    width:100%;
    position: relative;
    padding-bottom: 0;
    margin-top: 85px;

}

#hero-text {
    padding-left: 10px;
    padding-top: 270px;
    color: rgb(164, 76, 3, .9);
}

h2 {
    font-weight: 300;
    font-size: 2rem;
    background-color: #ffffff8f;
    width: fit-content;
    font-weight: bold;
    padding: 2px;
    border-radius: 5px;
    
    

}

h3{
    font-size: 3rem;
}


.practices{
    color: rgb(164, 76, 3);
    font-family: 'Raleway';
    font-weight: 300;
    text-align: center;
    padding: 50px;
    background-color:#fff4e2;
}

#yoga-poses{
    display: grid;
    place-items: center;  
    padding-top: 20px;
    background-color: #fff4e2;
}
    
.poses{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    
    
}

#yoga-poses p {
   
    place-items: center;  
    text-align: center;
    padding: 30px;

}
    

#yoga-poses h4{
    display: grid;
    place-items: center; 
    padding-top: 20px; 
    
}


#pose-one{
    display: grid;
    place-items: center;  
}
    
#pose-two{
    display: grid;
    place-items: center;  
}

#pose-three{
    display: grid;
    place-items: center;  
}

#book-button{
    font-family: 'Raleway';
    font-size: large;
    font-weight: 100;
    border: 1px solid rgb(164, 76, 3);
    background-color: rgb(164, 76, 3);
    border-radius: 20px;
    padding: 10px;
    display: block;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 70px;
    color: #fafafa;
    
}

#button-section{
    background-color: #fff4e2;
}

a{
    text-decoration: none;
    color: white;
}



/* About me Page */



.about-me {
    color: rgb(164, 76, 3);
    font-family: 'Raleway';
    font-weight: 300;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    
   
    
    
 }

 .about-me h2{
    font-size: 150%;
     
 }

 .about-pic {
    
    width: 200px;
    height: 200px;
    border-radius: 100%;
    display: grid;
    place-items: center;  
 }

   .picture{

    padding: 20px;
    margin: 0 auto;
    width: 100%;
    display: grid;
    place-items: center;  
   }


   
    

    
    


/*Book a class Page */

#book {
    
    min-height: 100vh;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
}


#book-a-class {
    color: white;
    background: url(../images/blackandwhite.jpg);
    padding: 30px;
    display: block;
    margin-top: 80px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 20px;
    height: 100%;
    
    
}


#book-a-class>h2 {
    color: white;
    margin-bottom: 20px;
    background-color: revert;
}


.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid white;
    border-radius: 5px;
    padding: 0 5px;
    
}

#radio-buttons p {
    font-size: 18px;
}

.yoga-type{
    padding-top: 8px;
}

#radio-buttons {
   
    margin: 5px 0 20px 0;
}



/* .blackandwhite {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    margin-top: 5px;
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
} */


    
    /*Footer*/


footer {
   
    bottom: 0;
    width: 100vw;
    background-color: #cdb69e;
    height: 10vh;
    border-top: solid .5px rgb(40, 51, 75);
    margin: auto;
  
   
    
     
}

#socials {
    text-align: center;
    display: flex;
    justify-content: center;
    padding:40px;
    list-style-type: none;
    width: 100%;
   
}

#socials i {
    color: rgb(40, 51, 75);
    font-size: 120%;
    padding-left: 20px;
    justify-content: space-between;
    
}

/* Media Queries for 768px and up */

@media screen and (min-width: 768px){

    
/* header */
    .nav-toggle-label{
        display:none;
    }


    nav {
        
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        align-items: flex-end;
    }

        #menu{
            display: flex;
            justify-content: space-evenly;
        }

        #menu li {
            padding-left: 20px;
            color: rgb(40, 51, 75);
        }

        h2{
            font-size: 3rem;
        }

       #book {
       display: flex;
       flex-direction: row;
       box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
       min-height: 100vh;
       }

        
       .blackandwhite{
        margin-top: 80px;
       }

       #book-a-class {
        box-shadow: none;
       }

    }


    /* Media Queries for 1200px and up */

    @media screen and (min-width: 1200px){

        #yoga-poses{
            display: flex;
        }

        .practices{
            color: rgb(164, 76, 3);
            font-family: 'Raleway';
            font-weight: 300;
            text-align: center;
            padding: 50px;
        }

        #socials i {
            font-size: xx-large;
        }

        #pose-one{
            width: 33%;
        }
        #pose-two{
            width: 33%;
        }
        #pose-three{
            width: 33%;
        }

        h2{
            font-size: 3.5rem;
        }



    }